.coverage
.doctrees
.buildinfo
.eggs
.installed.cfg
.ipynb_checkpoints
.tox
.pytest_cache

__pycache__
_config.yml
_local
_source
_temp

bin
docs
develop-eggs
dist
eggs
htmlcov
lib
lib64
local
parts
phenopype.egg-info
spyder-debug.log
src/*.egg-info

