*dev*
.doctrees
.buildinfo
.eggs
.installed.cfg
.ipynb_checkpoints
__pycache__/
_config.yml

bin
docs/_build
docs/_images
docs/_sources
docs/_temp
develop-eggs
dist
doctrees/
eggs
lib
lib64
local
parts
phenopype.egg-info/
src/*.egg-info
