*dev*
.doctrees
.buildinfo
.eggs
.installed.cfg
.ipynb_checkpoints
__pycache__/
_config.yml

bin
docs_source
develop-eggs
dist
eggs
lib
lib64
local
parts
phenopype.egg-info/
spyder-debug.log
src/*.egg-info
