language: python
python:
  - "3.7"
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
install:
  - pip install -w
script: pytest # run tests
after_success:
  - codecov # submit coverage
