os:
- linux
dist: xenial
services:
  - xvfb
  
language: python
python:
- "3.7"
install:
- python -m pip install -U pip
- pip install tox
script:
- xvfb-run --server-args="-screen 0 1920x1080x24" tox
