image:
- Ubuntu1804
- Visual Studio 2019
- macOS

branches:
  only:
    - development

environment:
  matrix:
  - TOXENV: py37

build:
  off

install:
- pip install -U pip
- pip install tox -U --force-reinstall

test_script:
- tox

