branches:
  only:
    - main

image:
  - Visual Studio 2015

environment:
  matrix:
  - TOXENV: py37
    PYTHON: C:\Python37-x64
  
init:
  - "ECHO %TOXENV%"
  
build:
  off

install:
- SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%"
- python --version
- python -m pip install -U pip
- pip install tox coveralls-python

test_script:
- tox

on_finish:
- coveralls 



