branches:
  only:
    - development

environment:
  matrix:
  - TOXENV: py37
    PYTHON: "C:\\Python37-x64"
  
init:
  - "ECHO %TOXENV%"
  
build:
  off

install:
- "SET PATH=%PYTHON%; %PYTHON%\\Scripts; %PATH%"
- pip install -U pip
- pip install tox"

test_script:
- tox

